.footermainall{
    width: 100%;
    background: teal  ;
    color:#000;
    padding-bottom: 50px;
    transition: transform 250ms;
}
.footercontentone ,.footercontenttwo, .footercontentthree, .footercontentfour{
    margin-top: 100px;
    align-items: center;
}

.footheader {
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    text-decoration: underline;
    margin-top: 30px;
    margin-left: 25px;
}

.footerlist{
    font-size: 15px;
    line-height: 40px;
    align-items: center;
    /* padding-left: 9px;*/
    margin-right:20px; 
    color: white;
    list-style: none;
    
}
.footerlist:hover{
    color: gold;
   
}

.checkicon{

    margin-right: 10px;
}

/* .footercontentthree{
    padding-left: 60px;
    border-left: groove;
}

.footercontenttwo{
  padding-left: 80px;
  border-left: groove;
}

.footercontentfour{
    padding-left: 20px;
    border-left: groove;
} */

.footer-info{
    background-color: darkslategray;
    color: wheat;
   padding: 15px;
   padding-left: 100px;
   margin-bottom: 30px;
   margin-right: 11px;
   display: flex;
   flex-direction: column;
   display: block;
}

.foo-text{
   
    text-decoration: underline;
   
}
.reachme{
    float: right;
    text-align: center;
    justify-content: center;
    margin-top: -5%;
    padding-right: 80px;
}

.footimg{
    margin-left: 690px;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }

  
